<html>
<head>
<title>Python Flask Upload multiple images and display multiple images uploaded</title>

</head>
<script type="text/javascript">
    function deleteBadge(a) {
    var xhttp = new XMLHttpRequest();
<!--    xhttp.onreadystatechange = function() {-->
<!--         if (this.readyState == 4 && this.status == 200) {-->
<!--             alert(this.responseText);-->
<!--         }-->
<!--    };-->
    xhttp.open("GET", "http://127.0.0.1:5000/deleteBadge?id="+a, true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send();
    }
    function addEmail(a,b) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
         if (this.readyState == 4 && this.status == 200) {
             alert(this.responseText);
         }
    };
    xhttp.open("GET", "http://127.0.0.1:5000/addEmail?name="+a+"email="+b, true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send();
    }
</script>
<body>
<form action = "/" method = "GET" enctype="multipart/form-data">
                    <input type = "submit" value="Redirect To Upload Badge Page">
    </form>
<div style="padding:20px;">
{% if allbadges %}
    {% for item in allbadges %}

            <div style="padding:20px;float:left;">

                <form action = "/addEmail" method = "POST" enctype="multipart/form-data">
                    <input type="text" name="email" placeholder="Add student Email"></input>
                    <input type="hidden" name="name" value={{item.name}}>
                    <input type="hidden" name="id" value={{item.id}}>
                <input type = "submit" value="Add Email">
    </form>
                <p>Badge Name : {{item.name}}</p>
                <p>Badge Description : {{item.description}}</p>

                <p>Eligible Students :
                <select name="students" id="students-names">
                    {% for student in item.students %}
                    <option value="volvo">{{student}}</option>
                    {% endfor %}
                </select></p>
            <img width="500" src="{{ url_for('display_image', filename=item.badge) }}">
                <button type="submit" value ={{item.id}} onclick="deleteBadge(this.value)">Delete</button>
            </div>
    {% endfor %}
{% endif %}
</div>
</body>
</html>