<html>
<head>
    <title>upload</title>
</head>
<body>
    <form action = "/createBadge" method = "post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Add Badge Name"></input><br>
        <input type="text" name="description" placeholder="Add Badge Description"></input><br>
        <input type="text" name="students" placeholder="Add students "></input><br>
        <input type="file" name="file" /><br>
        <input type = "submit" value="save">
        <center>
            <form action = "/getBadges" method = "GET" enctype="multipart/form-data">
                    <input type = "submit" value="Redirect To All Badge Page">
    </form>
        </center>
    </form>
</body>
</html>

