<html>
<head>
<title>Python Flask Upload multiple images and display multiple images uploaded</title>

</head>
<body>
<div style="padding:20px;">
{% if allbadges %}
    {% for item in allbadges %}

            <div style="padding:20px;float:left;">
                <p>Badge Name : {{item.name}}</p>
                <p>Badge Description : {{item.description}}</p>
                <p>Eligible Students : {{item.students}}</p>
                <select name="students" id="students-names">
                    {% for student in item.students %}
                    <option value="volvo">{{student}}</option>
                    {% endfor %}
                </select>
            <img width="500" src="{{ url_for('display_image', filename=item.badge) }}">
            </div>
    {% endfor %}
{% endif %}
</div>
</body>
</html>